.borderarea{
  background-color: white;  
  width: 80%;
  border-style: solid;
  border-width: 8px;
  border-color: white;
  border-radius: 20px;
  margin: auto;
}

.centrebox{
  margin: 20px auto;
  text-align: center;
}

.FormTitle{
  font-weight: bold;
}