<!DOCTYPE html>
    <html lang="en">
    
<head>
  <title>Homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    
<body>  
    <div class="container-fluid" style="text-align: center;margin: 0;">
    <form action='/getholiday' method="POST" name="getholiday" id="getholiday" >
        <div style="font-size: 125px;background-color: #5cb85c;color: white">Getway Club</div>
          <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $( function() {
            $( "#datepicker" ).datepicker();
            } );
        </script>
        <script>s
            $( function() {
            $( "#datepicker2" ).datepicker();
            } );
        </script>

<p>Outbound Date: <input type="text" id="datepicker" name="startdate"></p>
        
        <p>Return Date: <input type="text" id="datepicker2" name="startdate"></p>


                    <button type="button" class="btn btn-success btn-lg;" form:"getholiday" value:"Submit" style="font-size: 50px;margin-top: 100px">Book Me A Holiday!</button>
         </form>
    </div>
    
</body>
<div style="bottom: 0;width: 100%;position: absolute; background-color:#7fd17f; " ><div style="margin: 20px">Made by H. Sams, K.Walker, A Champman, D. Marshall</div></div>
</html>