<%=  erb :defaultheader %>

<!DOCTYPE html>
    <html lang="en">
    
<head>
  <title>Homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
	<link rel="stylesheet" href="style/main.css"/>		
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    
<body style="background-color: #DBDBDB;">  
    <div class="container-fluid" style="text-align: center;margin: 40px;">
    <form action='/getholiday' method="POST" name="getholiday" id="getholiday" >
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>      
    <script>
      $( function() {
        $( "#datepicker" ).datepicker();
      } );
    </script>
    <script>
      $( function() {
        $( "#datepicker2" ).datepicker();
      } );
    </script>

    <div class="row borderarea" style="text-align: center;margin-top: 15px background-color: white;">
        <div class="col-sm-2">
        </div>
        <div class="col-md-4">
          <p class = "FormTitle">Outbound Date: <br />
          <input type="text" id="datepicker" name="startdate"></p>               
        </div>
        <div class="col-md-4">    
          <p class = "FormTitle">Return Date: <br />
          <input type="text" id="datepicker2" name="enddate"></p>
        </div>
    </div>
    <div class="row borderarea" style="text-align: center;margin-top: 15px">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
          <p class="FormTitle">Min Value(pp):</p>
          <select name="MinValue">
            <option value="0">£0</option>
            <option value="50">£50</option>
            <option value="100">£100</option>
            <option value="250">£250</option>
            <option value="750">£750</option>
            <option value="1000">£1000</option>
            <option value="1500">£1500</option>
            <option value="2000">£2000</option>  
          </select>
          <br><br>
        </div>
        <div class="col-sm-4">
          <p class="FormTitle">Max value(pp):</p>
          <select name="MaxValue">
            <option value="50">£50</option>
            <option value="100">£100</option>
            <option value="250">£250</option>
            <option value="750">£750</option>
            <option value="1000">£1000</option>
            <option value="1500">£1500</option>
            <option value="2000">£2000</option>  
          </select>
          <br><br>
          </div>
      </div>
      <div class="row borderarea" style="text-align: center;margin-top: 15px">
          <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
            <p class="FormTitle">Number Of People:</p>
            <select name="PersonCount">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>  
            </select>
            <br><br>
          </div>
        <div class="col-sm-4">
            <p class="FormTitle">Continent Preference:</p>
            <select name="ContinentChoice">
              <option value="any">Any</option>
              <option value="arctic">Antartica</option>
              <option value="asia">Asia</option>
              <option value="africa">Africa</option>
              <option value="north america">North America</option>
              <option value="south america">South America</option>
              <option value="oceania">Australia</option>
              <option value="europe">Europe</option>  
            </select>
            <br><br>
          </div>    
      </div>
      <div class="row" style="text-align: center;margin-top: 15px">

        <button type="submit" class="btn btn-secondary btn-lg;" form:"getholiday" value:"Submit" style="font-size: 50px;margin-bottom: 0px; border: 0;margin-top: 20px; width: 50%"><img src="button.png" style="width: 100%;"></button>
      </form>
    </div>
       </div>

        </body>
     <footer style="color: black; background-color: white;" class="page-footer" ><div style="padding-top:10px; padding-bottom:10px; padding-left: 25px;">Made by H. Sams, K.Walker, A Chapman, D. Marshall</div></footer>
</html>
