<%=  erb :defaultheader %>

<!DOCTYPE html>
    <html lang="en">
    
<head>
  <title>Homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    
<body>  
    <div class="container-fluid" style="text-align: center;margin: 0;">
    <form action='/getholiday' method="POST" name="getholiday" id="getholiday" >

          <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <script>
            $( function() {
            $( "#datepicker" ).datepicker();
            } );
        </script>
        <script>
            $( function() {
            $( "#datepicker2" ).datepicker();
            } );
        </script>


        <div class="row" style="text-align: center;margin-top: 15px">
            <div class="col-sm-3">
            </div>
        <div class="col-sm-3">
           <p>Outbound Date: <input type="text" id="datepicker" name="startdate"></p> 
        </div>
        <div class="col-sm-3">
            <p>Return Date: <input type="text" id="datepicker2" name="enddate"></p>
        </div>
                <div class="col-sm-3">
                </div>
        
    </div>
        
        <div id="slidecontainer" style="text-align: center; margin-left: 25%;width: 50%;padding-top: 140px;margin-bottom:20px">
  <input type="range" min="100" max="10000" value="5000" class="slider" id="myRange">
</div>
        

                    <button type="submit" class="btn btn-success btn-lg;" form:"getholiday" value:"Submit" style="background-color: #b35900; font-size: 50px;margin-bottom: 0px; border: 0 solid;">Book Me A Holiday!</button>
         </form>
    </div> 
        </body>
     <footer style="background-color:#b35900;" class="page-footer" ><div style="padding-top:10px; padding-bottom:10px;color:white">Made by H. Sams, K.Walker, A Chapman, D. Marshall</div></footer>
</html>