<!DOCTYPE html>
    <html lang="en">
    
<head>
  <title>Homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    
<body>  
    <div class="container-fluid" style="width: 80%;text-align: center;">
        <div style="font-size: 150px;padding-bottom: 100px">Whatever our company is called</div>
        <button type="button" class="btn btn btn btn-primary btn-lg" style="font-size: 100px">Book Me A Holliday!</button>
    </div>
    
</body>
</html>